<% include header.ejs %>
<%
if (typeof uploaded != 'undefined' && uploaded) {
  %> The card has been uploaded and now is being moderated! <%
}
if (typeof error != 'undefined') {
  %> <div class="error"><%-error%></div> <%
}
%>
<br />
<div class="guidelines">
  <h5>Guidelines</h5>
  <ul>
      <li>No NSFW</li>
      <li>Must have "to:" and "from:" labels or similar</li>
      <li>Try to put at least one tag, and include an alt text</li>
  </ul>
</div>
<form id="uploadimages" action="/upload"  method="post" enctype="multipart/form-data" onsubmit="setTimeout(function(){$('#imgforms').attr('disabled','')}, 2)">
  <label>
    <div>Tags</div>
    <div style="font-size: 0.9em;opacity: 0.8;margin: 0.5em 2em">Separate by commas</div>
    <input type="text" class="form-control" name="card_tags" placeholder="Example: star wars, darth vader, daddy" /><br/>
  </label>
  <label>
    <div>Alt text</div>
    <div style="font-size: 0.9em;opacity: 0.8;margin: 0.5em 2em">Description of the image for visually impaired folks</div>
    <input type="text" class="form-control" name="card_alt" placeholder='Example: Valentine Card featuring a Gravity Falls girl with a chainsaw in her mouth. The text reads "kissing practice?"' /><br/>
  </label>
  <label>
    <div>Image</div>
    <div style="font-size: 0.9em;opacity: 0.8;margin: 0.5em 2em">Accepted: gifs, jpgs or pngs</div>
    <input type="file" class="form-control" name="card_image" accept="image/*" /><br/>
  </label>
  <br/>
  <input type="submit" value="Upload" class="form-control" />
</form>
<% include footer.ejs %>